body {
    align-content: center;
    justify-content: center;
}

.drawing-board {
    border: 2px solid black;
}

.title-container {
    padding: 5px 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-content: center;
    justify-content: center;
}